# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/*.sql

# Test coverage
coverage

# Build outputs
dist
build
